.html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #eeeeee;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

.blank__controlButton {
    cursor: pointer;
}

.blank__button {
    cursor: pointer;
}

.blank__buttonList {
    cursor: pointer;
}